language: python
python:
  - '3.6'

services:
  - docker

before_script:
  - echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin

script:
  - docker-compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test && flake8"
